@font-face {
  font-family: 'construct';
  src:  url('fonts/construct.eot?3mxm43');
  src:  url('fonts/construct.eot?3mxm43#iefix') format('embedded-opentype'),
    url('fonts/construct.ttf?3mxm43') format('truetype'),
    url('fonts/construct.woff?3mxm43') format('woff'),
    url('fonts/construct.svg?3mxm43#construct') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'construct' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle_outline:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-arrow_down:before {
  content: "\e902";
}
.icon-arrow_down_solid:before {
  content: "\e903";
}
.icon-arrow_left:before {
  content: "\e904";
}
.icon-arrow_left_solid:before {
  content: "\e905";
}
.icon-arrow_right:before {
  content: "\e906";
}
.icon-arrow_right_solid:before {
  content: "\e907";
}
.icon-arrow_up:before {
  content: "\e908";
}
.icon-arrow_up_solid:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e90a";
}
.icon-bookmark:before {
  content: "\e90b";
}
.icon-bookmark_outline:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-checkbox_check:before {
  content: "\e90e";
}
.icon-checkbox_off:before {
  content: "\e90f";
}
.icon-checkbox_on:before {
  content: "\e910";
}
.icon-circle:before {
  content: "\e911";
}
.icon-circle_outline:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-collection:before {
  content: "\e914";
}
.icon-construct:before {
  content: "\e915";
}
.icon-error:before {
  content: "\e916";
}
.icon-filter:before {
  content: "\e917";
}
.icon-folder:before {
  content: "\e918";
}
.icon-folder_open:before {
  content: "\e919";
}
.icon-forward:before {
  content: "\e91a";
}
.icon-grid:before {
  content: "\e91b";
}
.icon-group_list:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91d";
}
.icon-list:before {
  content: "\e91e";
}
.icon-menu:before {
  content: "\e91f";
}
.icon-menu_dots:before {
  content: "\e920";
}
.icon-minus:before {
  content: "\e921";
}
.icon-plus:before {
  content: "\e922";
}
.icon-question:before {
  content: "\e923";
}
.icon-refresh:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e925";
}
.icon-settings:before {
  content: "\e926";
}
.icon-sort:before {
  content: "\e927";
}
.icon-square:before {
  content: "\e928";
}
.icon-square_outline:before {
  content: "\e929";
}
.icon-tree:before {
  content: "\e92a";
}
.icon-triangle:before {
  content: "\e92b";
}
